<%= form_for(@tuple_fake) do |f| %>
  <% if @tuple_fake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tuple_fake.errors.count, "error") %> prohibited this tuple_fake from being saved:</h2>

      <ul>
      <% @tuple_fake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :channel_id %><br>
    <%= f.text_field :channel_id %>
  </div>
  <div class="field">
    <%= f.label :trigger_id %><br>
    <%= f.text_field :trigger_id %>
  </div>
  <div class="field">
    <%= f.label :action_id %><br>
    <%= f.text_field :action_id %>
  </div>
  <div class="field">
    <%= f.label :triggerValue %><br>
    <%= f.text_field :triggerValue %>
  </div>
  <div class="field">
    <%= f.label :triggerCondition %><br>
    <%= f.text_field :triggerCondition %>
  </div>
  <div class="field">
    <%= f.label :actionFields_id %><br>
    <%= f.text_field :actionFields_id %>
  </div>
  <div class="field">
    <%= f.label :actionData %><br>
    <%= f.text_area :actionData %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
