<h1>Listing tuple_fakes</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Trigger</th>
      <th>Action</th>
      <th>Triggervalue</th>
      <th>Triggercondition</th>
      <th>Actionfields</th>
      <th>Actiondata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tuple_fakes.each do |tuple_fake| %>
      <tr>
        <td><%= tuple_fake.channel_id %></td>
        <td><%= tuple_fake.trigger_id %></td>
        <td><%= tuple_fake.action_id %></td>
        <td><%= tuple_fake.triggerValue %></td>
        <td><%= tuple_fake.triggerCondition %></td>
        <td><%= tuple_fake.actionFields_id %></td>
        <td><%= tuple_fake.actionData %></td>
        <td><%= link_to 'Show', tuple_fake %></td>
        <td><%= link_to 'Edit', edit_tuple_fake_path(tuple_fake) %></td>
        <td><%= link_to 'Destroy', tuple_fake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tuple fake', new_tuple_fake_path %>
